spring:
  application:
    name: parqueadero

  datasource:
    url: postgresql://postgres:vPozDBCEKskqyLqHDIkGiBXeCfWqQKhN@tramway.proxy.rlwy.net:57741/railway
    username: postgres
    password: vPozDBCEKskqyLqHDIkGiBXeCfWqQKhN
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

logging:
  level:
    org:
      springframework:
        security: DEBUG
        web: DEBUG

server:
  port: ${PORT:8080}